<html>
	<head>
	<link rel="stylesheet" href="stylesheet.css" type="text/css" /> 
	</head>
	<body>
		<div>
			<form>
				<input type='submit' value='Main Menu' name='menu_option'/>
				<input type='submit' value='Save Game' name='menu_option'/>				
			</form>
		</div>

		<div class="game">
			<img src="<%= "#{image}" %>">
			<div id="response">
				<% if defined? response %>
					<p><%= response %></p>
				<% end %>
			</div>
			<div>
				<form>
					<input type='text' name='guess'/>
					<input type='submit' value='Guess!'/>
				</form>
			
				<p id="guessed_word"><%= guessed_word %></p>
				<% bad_guesses.each do |letter| %>
					<p id="bad_guesses"><%=letter%></p>
				<% end %>
			</div>

		</div>

		<div>
			
		</div>

		
	</body>
</html>