<html>
	<head>
	</head>
	<body>
		<form>
			<input type='text' name='guess'/>
			<input type='submit' value='Guess!'/>
			<input type='submit' value='Main Menu' name='menu_option'/>
		</form>

		<p>
			<%= guessed_word %>
		</p>
		<p>
			<% if defined? response %>
				<%= response %>
			<% end %>
		</p>
		<p>
			Incorrect guesses: <%= bad_guesses %>
		</p>
	</body>
</html>