<html>
	<head>
	</head>
	<body>
		<form>
			<input type='text' name='guess'/>
			<% if response.nil? %>
				<input type='submit' value='Guess!'/>
				<input type='submit' value='Save Game' name='menu_option'/>
			<% end %>
			<input type='submit' value='Main Menu' name='menu_option'/>
			
		</form>
		<div>
			<img src="<%= "#{image}" %>">
		</div>

		<p>
			<%= guessed_word %>
		</p>
		<p>
			<% if defined? response %>
				<%= response %>
			<% end %>
		</p>
		<p>
			Incorrect guesses: <%= bad_guesses %>
		</p>
	</body>
</html>