<html>
	<head>
		<link rel="stylesheet" href="stylesheet.css" type="text/css" /> 
	</head>
	<body>
		<div>
			<p id="title">Hangman</p>
			<form>
				<input id="menu" type='submit' value='New Game' name='menu_option'/>
				<% unless game.nil? || game_over == true %>
					<input id="menu" type='submit' value='Continue Game' name='menu_option'/>
					<input id="menu" type='submit' value='Save Game' name='menu_option'/>
				<% end %>
				<input id="menu" type='submit' value='Load Game' name='menu_option'/>
			</form>
		</div>
			<div class="footer">
				<p>For this game to work you must have cookies enabled.</p>
				<p>Created by Luke Jones as part of  <a href="https://www.theodinproject.com/" target="_blank">The Odin Project</a>.</p>
			</div>
	</body>
</html>