<html>
	<head>
		<link rel="stylesheet" href="stylesheet.css" type="text/css" /> 
	</head>
	<body>
		<div>
			<p id="title">Welcome</p>
			<p id="response">Choose a game:</p>
		</div>
		<div>
		<form>
			<input type="submit" value="Hangman" name="menu_option">
		</form>
		</div>
		<div class="footer">
			<p>Created by Luke Jones as part of  <a href="https://www.theodinproject.com/" target="_blank">The Odin Project</a>.</p>
		</div>
	</body>
</html>