<html>
	<head>
	</head>
	<body>
		<form>
			<input type='submit' value='Continue Game' name='menu_option'/>
			<input type='submit' value='New Game' name='menu_option'/>
			
			<input type='submit' value='Load Game' name='menu_option'/>
		</form>
	</body>
</html>