<html>
	<head>
	</head>
	<body>
		<form method="POST" action="/save">
			<input type='text' name='save_name' value="save name"/>
			<% if user.nil? %>
			<input type='text' name='user_name' value="user name"/>
			<% end %>
			<input type='submit' value='Save Game'/>
			<input type='submit' value='Load Game' name='menu_option'/>
			<input type='submit' value='Continue Game' name='menu_option'/>
			<input type='submit' value='Main Menu' name='menu_option'/>
		</form>
		<p>
			<%= response %>
		</p>
		<% unless saves.nil? %>
			<ul>
			<% saves.each do |game| %>
				<li><%= game %></li>
			<% end %>
			</ul>
		<% end %>
		<% if user.nil? %>
			<p>Enter a save name and a user name to save your game</p>
		<% else %>
			<p>You're saving games under the user name <%= user %>.</p>
		<% end %>
	</body>
</html>