.container {
	border: 2px solid black;
	font-size: 0;
	width: 500px;
	height: 500px;
	margin: 10px auto 100px auto;
}

.box {
	display: inline-block;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.fill {
	background-color: blue;
}

button {
	padding: 5px;
	display: inline-block;
	margin: auto;
	font-size: 20px;
}
 #buttonbox {
 	margin: auto;
 	text-align: center;
 }

 .clickedon {
 	font-weight: bold;
 	background-color: black;
 	color: white;

 }

 .instructions {
 	margin: 20px 0 20px 0;
 	font-family: helvetica;
 	text-align: center;
 	font-size: 18px;
 }

 h1 {
 	text-decoration: underline;
 }