<html>
	<body>
		<div>
		<div style="height: 50px"></div>
			<form method="POST" action="/load">
				<input type='submit' value='Main Menu' name='menu_option'/>
				
			</form>
		</div>
		<div>
			<p id="response">Saved games for <%= user %>:</p>
		<% unless saves.nil? %>
			<form method="POST" action="/load">
				<ul>
				<% saves.each do |game| %>
					<li><input type='submit' value='<%= game %>' name='game_name'/></li>
				<% end %>
				</ul>
			<% end %>
			<div id="line"></div>
			<input style="height: 50px" type='submit' value='Change User' name='menu_option'/>
			</form>
			
		</div>
	</body>
</html>