<div class="menu">
	<p id="title">Hangman</p>
	<ul>
		<li><a href="/reset">New Game</a></li>
		<% unless game.nil? || game_over == true %>
			<li><a href="/hangman-play">Continue Game</a></li>
			<li><a href="/hangman-save">Save Game</a></li>
		<% end %>
		<li><a href="/hangman-load">Load Game</a></li>
		<li><a href="/">Quit Game</a></li>
	</ul>
</div>
