<div class="menu menu-game">
	<ul>
		<li><a href="/hangman">Main Menu</a></li>
	</ul>
</div>
<div id="line"></div>
<div>
	<p id="response">Saved games for <b><%= user %></b>:</p>
	<form method="POST" action="/hangman-load">
		<% unless saves.nil? %>
			<ul>
				<% saves.each do |game| %>
					<li><input type='submit' value='<%= game %>' name='game_name'/></li>
				<% end %>
			</ul>
		<% end %>
	</form>	
	<div id="line"></div>
	<div class="menu menu-game">
		<ul>
			<li><a href="/user">Change User</a></li>
		</ul>
	</div>
</div>