<div>
	<p id="title">Welcome</p>
	<p id="response">Choose a game:</p>
</div>
<div class="menu">
	<ul>
		<li><a href="/hangman">Hangman</a></li>
		<li><a href="/sketch-pad">Sketch Pad</a></li>
	</ul>
</div>