<html>
	<body>
		<div>
			<p id="title">Welcome</p>
			<p id="response">Choose a game:</p>
		</div>
		<div>
		<form>
			<input type="submit" value="Hangman" name="menu_option">
		</form>
		</div>
	</body>
</html>